{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">   
    <div class="row">
        <div class="col-md-2">           
            <img class="logoImage" src="../../static/app/images/doctor.jpg" />
        </div>
        <div class="col-md-10">
            <h1>SZZK</h1>
            <h2>System Zarzadzania Zadaniami w Klinice</h2>
        </div>
    </div>
</div>

{% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-4">
            <p>Jestes zalogowany jako: <b>Pan Doktor</b> - <b>Kardiolog</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Zadania na dzis:</h3>
            <p class="holidayIndicator">Dzis urlop!</p>
        </div>
    </div>
{% else %}
    <h2>Zaloguj sie aby przegladac zadania.</h2>
{% endif %}

{% endblock %}
